<div class="container">

  <h1>
    Exploding kittens

  </h1>

  <div class="row">
    <div class="col-10">
      <button *ngIf="!Start" (click)="startClick()"  class="btn btn-primary">Start</button>
      <button *ngIf="Start"  (click)="drawClick()"  class="btn btn-primary">Draw card</button>


        <div *ngFor="let dcard of dcards" class="card-group">
          <div  [ngClass]="[cardTypeClass]" class="card">
            <div class="card-body">
              <h5 class="card-title">{{dcard.name}}</h5>
              <p class="card-text">{{dcard.discription}}</p>
              <p class="card-text"><small class="text-muted">{{dcard.type}}</small></p>
            </div>
          </div>
        </div>


    </div>

  <div class="col-2">

      {{gameStatus}}

   <div *ngIf="Show">
    {{game.deck.length}} Items in deck
      <li  *ngFor="let card of game.deck" class="list-group-item">{{card.name}}</li>
   </div>
  </div>

